.review-area {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
}

.review-rating-desktop {
  display: flex;
  flex-direction: column;
  grid-area: vote;
}

.review-user-info-desktop {
  grid-area: user-data;
}

.review-title-desktop {
  grid-area: title;
}

.review-content-desktop {
  grid-area: content;
}

.hidden {
  display: none !important;
}

.button-clicked {
  background-color: rgb(16 96 126 / 33%);
}
